@font-face {
    font-family: Marvin;
    src: url('../fonts/Marvin.ttf') format('truetype');
}

@font-face {
    font-family: EdgeDisplay;
    src: url('../fonts/EdgeDisplay_Regular.otf') format('opentype');
}

body {
    background-color: #000000;
    text-align: center;
}

h1 {
    color: #f9c117;
    font-family: Marvin;
    font-size: 50px;
}

h2 {
    color: #ffffff;
    font-family: Marvin;
    font-size: 30px;
}

h3 {
    color: #1214af;
    font-family: EdgeDisplay;
    font-size: 25px;
}

div {
    text-align: center;
}

ul {
    color: #ffffff;
    font-size: 50;
    font-family: Tahoma;
    display: inline-block; text-align: left;
    font-weight: bold;
}
