@font-face {
    font-family: Marvin;
    src: url('../fonts/Marvin.ttf') format('truetype');
}

@font-face {
    font-family: EdgeDisplay;
    src: url('../fonts/EdgeDisplay_Regular.otf') format('opentype');
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}

.name-list {
    list-style-type: none; /* Убираем значки списка */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.name-list li {
    width: calc(33.33% - 10px); /* Фиксированная ширина с учетом gap */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 1em;
}

@media (max-width: 1100px) {
    .name-list li {
        width: calc(50% - 10px); /* Два столбца при меньшей ширине */
    }
}

@media (max-width: 600px) {
    .name-list li {
        width: 100%; /* Один столбец при самой малой ширине */
        font-size: 0.7em; /* Уменьшение размера шрифта */
        padding: 8px; /* Уменьшение отступов */
    }
}

@media (max-width: 400px) {
    .name-list li {
        font-size: 0.6em; /* Еще большее уменьшение размера шрифта */
        padding: 6px; /* Еще большее уменьшение отступов */
    }
}

body {
    background-color: #000000;
    text-align: center;
}

h1 {
    color: #f9c117;
    font-family: Marvin;
    font-size: 50px;
}

h2 {
    color: #ffffff;
    font-family: Marvin;
    font-size: 35px;
}

h3 {
    color: #ffffff;
    font-family: Marvin;
    font-size: 25px;
}

h4 {
    color: #e1391c;
    font-family: EdgeDisplay;
    font-size: 40px;
}

div {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 30px;
    display: inline-block; text-align: center;
    font-weight: bold;
}

ul {
    color: #ffffff;
    font-family: Tahoma;
    font-size: 20px;
    display: inline-block; text-align: center;
    font-weight: bold;
}
